<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>R-G1</string>
		<key>Latitude</key>
		<real>37.32821088974169</real>
		<key>Longitude</key>
		<real>-121.8898706138134</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-H1</string>
		<key>Latitude</key>
		<real>37.3283185973566</real>
		<key>Longitude</key>
		<real>-121.8899524211884</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-I1</string>
		<key>Latitude</key>
		<real>37.32842417199758</real>
		<key>Longitude</key>
		<real>-121.8900221586227</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-1</string>
		<key>Latitude</key>
		<real>37.32828340577664</real>
		<key>Longitude</key>
		<real>-121.8897271156311</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-2</string>
		<key>Latitude</key>
		<real>37.32838898046708</real>
		<key>Longitude</key>
		<real>-121.8898022174835</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-3</string>
		<key>Latitude</key>
		<real>37.32849135578278</real>
		<key>Longitude</key>
		<real>-121.8898800015449</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-4</string>
		<key>Latitude</key>
		<real>37.3289531093796</real>
		<key>Longitude</key>
		<real>-121.8902327120304</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-5</string>
		<key>Latitude</key>
		<real>37.32897976943132</real>
		<key>Longitude</key>
		<real>-121.8901683390141</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-A1</string>
		<key>Latitude</key>
		<real>37.32867157865593</real>
		<key>Longitude</key>
		<real>-121.8899403512478</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-A2</string>
		<key>Latitude</key>
		<real>37.32888166039432</real>
		<key>Longitude</key>
		<real>-121.8895031511783</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-6</string>
		<key>Latitude</key>
		<real>37.32922717426011</real>
		<key>Longitude</key>
		<real>-121.8896426260471</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-7</string>
		<key>Latitude</key>
		<real>37.32910453834767</real>
		<key>Longitude</key>
		<real>-121.8896667659283</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-B1</string>
		<key>Latitude</key>
		<real>37.3287899496569</real>
		<key>Longitude</key>
		<real>-121.8892081081867</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-9</string>
		<key>Latitude</key>
		<real>37.32924423663208</real>
		<key>Longitude</key>
		<real>-121.8894065916538</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-10</string>
		<key>Latitude</key>
		<real>37.32932634924292</real>
		<key>Longitude</key>
		<real>-121.8892309069633</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-B2</string>
		<key>Latitude</key>
		<real>37.32899683185946</real>
		<key>Longitude</key>
		<real>-121.8887615203857</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-23</string>
		<key>Latitude</key>
		<real>37.32940846176404</real>
		<key>Longitude</key>
		<real>-121.8890565633774</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-M1</string>
		<key>Latitude</key>
		<real>37.32947031269469</real>
		<key>Longitude</key>
		<real>-121.8895822763443</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-M2</string>
		<key>Latitude</key>
		<real>37.32954496030182</real>
		<key>Longitude</key>
		<real>-121.8894052505493</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-M3</string>
		<key>Latitude</key>
		<real>37.32987127611366</real>
		<key>Longitude</key>
		<real>-121.8897619843483</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-11</string>
		<key>Latitude</key>
		<real>37.32999710993698</real>
		<key>Longitude</key>
		<real>-121.8894776701927</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-12</string>
		<key>Latitude</key>
		<real>37.32949164059004</real>
		<key>Longitude</key>
		<real>-121.8888741731644</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-13</string>
		<key>Latitude</key>
		<real>37.32938713384511</real>
		<key>Longitude</key>
		<real>-121.8887990713119</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-C1</string>
		<key>Latitude</key>
		<real>37.32907574553922</real>
		<key>Longitude</key>
		<real>-121.8886005878448</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-C2</string>
		<key>Latitude</key>
		<real>37.32928582614749</real>
		<key>Longitude</key>
		<real>-121.8881392478943</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-14</string>
		<key>Latitude</key>
		<real>37.32969212251007</real>
		<key>Longitude</key>
		<real>-121.8884222209453</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-15</string>
		<key>Latitude</key>
		<real>37.3295993463689</real>
		<key>Longitude</key>
		<real>-121.8886515498161</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-16</string>
		<key>Latitude</key>
		<real>37.3301378729472</real>
		<key>Longitude</key>
		<real>-121.8891021609306</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-17</string>
		<key>Latitude</key>
		<real>37.32973371177756</real>
		<key>Longitude</key>
		<real>-121.8883256614208</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-18</string>
		<key>Latitude</key>
		<real>37.3295044373243</real>
		<key>Longitude</key>
		<real>-121.8881580233574</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-19</string>
		<key>Latitude</key>
		<real>37.3291717215245</real>
		<key>Longitude</key>
		<real>-121.887908577919</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-D1</string>
		<key>Latitude</key>
		<real>37.3295854832575</real>
		<key>Longitude</key>
		<real>-121.8879836797714</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-D2</string>
		<key>Latitude</key>
		<real>37.32925916620438</real>
		<key>Longitude</key>
		<real>-121.8877449631691</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-20</string>
		<key>Latitude</key>
		<real>37.32941272734709</real>
		<key>Longitude</key>
		<real>-121.8876135349274</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-21</string>
		<key>Latitude</key>
		<real>37.32971771590817</real>
		<key>Longitude</key>
		<real>-121.8878361582756</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-F1</string>
		<key>Latitude</key>
		<real>37.32948310943262</real>
		<key>Longitude</key>
		<real>-121.8874686956405</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-E1</string>
		<key>Latitude</key>
		<real>37.32978169936526</real>
		<key>Longitude</key>
		<real>-121.8876966834068</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-22</string>
		<key>Latitude</key>
		<real>37.32992246277909</real>
		<key>Longitude</key>
		<real>-121.8880078196526</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>R-N1</string>
		<key>Latitude</key>
		<real>37.32998857883698</real>
		<key>Longitude</key>
		<real>-121.8878602981567</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>W-8</string>
		<key>Latitude</key>
		<real>37.32919091670684</real>
		<key>Longitude</key>
		<real>-121.88952997326851</real>
	</dict>
</array>
</plist>
