<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Safe Area</string>
		<key>Latitude</key>
		<real>37.33092912677849</real>
		<key>Longitude</key>
		<real>-121.8887695670128</real>
		<key>Image</key>
		<string></string>
	</dict>
</array>
</plist>
